.navbar{
  background-image: linear-gradient(to bottom right, aquamarine, yellow);
  padding: 3vh;
  text-align: center;
}

.home {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  cursor: pointer;
  margin: 30px;
  color: red;
  text-decoration: none;
}

.superHeroCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 13rem;
  height: 22rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px aquamarine;
  cursor: pointer;
}

.team {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px red;
  cursor: pointer;
}

.teamCard {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 7rem;
  height: 12rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px red;
  cursor: pointer;
}

.teamImg {
  justify-self: center;
  height: 6rem;
  width: auto;
}

.teamImage {
  justify-self: center;
  height: 13rem;
  width: auto;
}

.card:hover {
  box-shadow: 0 0 3px 3px red;
}

.superhero-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  height: 2 rem;
  width: max-content;
  color: red;
  font-size: 15px;
  justify-self: center;
  margin-top: 5px;
  box-shadow: 3px 3px #888888;
}

.battle {
  margin-right: 20px;
}

button:hover {
  background-color: red;
  border: aquamarine solid 1px;
  color: aquamarine;
  cursor: pointer;
}

.cards {
  display: flex;  
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  }

  .collectionCard {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  p {
    text-align: center;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .alignTeam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  table{
    border: 1px solid rgb(95, 93, 93);
    width: 500px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 3px 4px grey
  }
  
  th {
    height: 30px;
  }

  td {
    text-align: center;
  }

  tr:nth-child(even) {background-color: rgb(243, 211, 211);}
  tr:nth-child(odd) {background-color: rgb(225, 248, 240);}


.search {
  text-align: center;
}

.search input {
  width: 400px;
}

h2 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.flip-card {
  margin: 10px;
  background-color: transparent;
  width: 200px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;
/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: aquamarine;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: red;
  color: white;
  transform: rotateY(180deg);
}

.form, .form2{
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 15px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  width: 70vh;
  background-size: cover;
  background-position: center;
}

.form {
  background-image: url("https://i.pinimg.com/originals/3b/b0/10/3bb010fe0b81131310394bfea8827104.gif");
}

.form2 {
  background-image: url("https://i.gifer.com/TssN.gif");
}

.form2 .name {
  margin-right: 167px;
}

.form2 .confirmPass {
  margin-right: 80px;
}

.form label, .form2 label{
  margin-right: 140px;
  font-weight: bolder;
}

.form input, .form2 input {
  width: 30vh;
  border: 2px solid black;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 90vh;
}

.homeImg {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.btnContainer button {
  margin: 10px;
}

.loginBtn {
  display: flex;
  align-self: center;
}

.logOut {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 10px;
}

.info img{
  width: 100px;
}

.enemyTeam, .myTeam {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.endingImg {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.battleGround {
  height: 80vh;
}

.startOver {
  display: flex;
  justify-content: space-between;
}

.startOver button {
  position: relative;
  background-color: black;
  border: none;
  height: 2.5rem;
  width: max-content;
  color: white;
  font-size: 15px;
  justify-self: center;
  margin-top: 5px;
  box-shadow: 3px 3px #888888;
}
.startOver button:hover {
  background-color: black;
  border: red solid 1px;
  color: red;
  cursor: pointer;
}

.enemyTeam {
  border-bottom: 3px solid black;
}

.info {
  display: flex;
  width: 33%;
  height: 20vh;
  align-items: center;
}

.myTeam {
  margin-top: auto;
  border-top: 3px solid black;
}

.battleContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.battleHero img {
  width: 200px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  border-radius: 30px;
  border: 5px solid black;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.battleHero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  height: 50vh;
}


.healthContainer {
  border: 2px solid black;
  width: 15vh;
  height: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.statsInfo {
  display: flex;
  width: 100%;
}

.stats {
  width: 50%;
}

.battleBtn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp {
  align-items: center;
  justify-content: center;
  display: flex;
}

.healthBar {
  height: 100%;
  width: 100%;
}

.statInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}










